<div class="card">
  <div
    class="coloured-top-padding"
    [class.yellow-top]="card.colour === 'Yellow'"
    [class.blue-top]="card.colour === 'Blue'"
    [class.green-top]="card.colour === 'Green'"
    [class.red-top]="card.colour === 'Red'"
  ><br></div>
  <div class="main-black-body">
    <h2>{{ card.title }}</h2>
    <mat-spinner
      class="progress-ring"
      color="blue"
      mode="determinate"
      [value]="progressAmount"
    >
        <p>{{ progressAmount }}%</p>
    </mat-spinner>
    <div class="progress-title-wrapper">
        <p>Balance:</p>
        <p>Goal:</p>
    </div>
    <div class="progress-amount-wrapper">
        <p>R{{ card.balanceAmount }}</p>
        <p>R{{ card.goalAmount }}</p>
    </div>
  </div>
</div>

<!-- coloured top-padding -->
<!-- black rectangular background with some border-radius -->
<!-- goal title -->
<!-- ring with completion on -->
<!-- ring with completed percentage inside and white background -->
<!-- 2 subtitles for balance and goal -->
<!-- 2 input values for balance and goal -->
