<article class="card" (click)="emitCardClickedEvent()">
  <section
    class="coloured-top-padding"
    [class.yellow-top]="card.colour === 'Yellow'"
    [class.blue-top]="card.colour === 'Blue'"
    [class.green-top]="card.colour === 'Green'"
    [class.red-top]="card.colour === 'Red'"
  >
   <p> {{ statusColour }} </p>
  </section>
  <section class="main-black-body">
    <h2>{{ card.title }}</h2>
    <div class="spinner-container">
      <div class="spinner-inner-container">
        <mat-spinner
          class="progress-ring"
          color="blue"
          mode="determinate"
          [value]="progressAmount"
        >
        </mat-spinner>
        <div class="spinner-overlay-text">{{ progressAmountString }}%</div>
      </div>
    </div>

    <section class="progress">
      <section class="progress-amounts">
        <p>Balance:</p>
        <p>R{{ card.balanceAmount }}</p>
      </section>
      <section class="progress-amounts">
        <p>Goal:</p>
        <p>R{{ card.goalAmount }}</p>
      </section>
    </section>

<!--    <section class="progress-title-wrapper">-->
<!--      <p>Balance:</p>-->
<!--      <p>Goal:</p>-->
<!--    </section>-->
<!--    <section class="progress-amount-wrapper">-->
<!--      <p>R{{ card.balanceAmount }}</p>-->
<!--      <p>R{{ card.goalAmount }}</p>-->
<!--    </section>-->
  </section>
</article>

<!-- coloured top-padding -->
<!-- black rectangular background with some border-radius -->
<!-- goal title -->
<!-- ring with completion on -->
<!-- ring with completed percentage inside and white background -->
<!-- 2 subtitles for balance and goal -->
<!-- 2 input values for balance and goal -->
