.card {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  > .coloured-top-padding {
    line-height: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  > .main-black-body {
    background-color: #1e1f1f;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    > h2 {
      color: white;
      font-weight: 600;
      padding-bottom: 1rem;
    }

    > p {
      color: #257d9a;
    }

    > .spinner-container {
      display: flex;
      align-items: center;
      justify-content: center;

      > .spinner-inner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        > .spinner-overlay-text {
          color: #257d9a;
          justify-self: center;
          transform: translateX(-100%);
          z-index: 2;
        }

        > .progress-ring {
            background-color: #ffffff;
            border-radius: 200rem;
            align-self: center;
            transform: translateX(25%);
            z-index: 1;
          }
      }
    }

    

    .progress-title-wrapper {
      display: flex;
      padding: 1rem 2rem 0 0.5rem;
      justify-content: space-between;
      & > p {
        font-size: 1.125rem;
        color: #ffffff;
      }
    }

    .progress-amount-wrapper {
      display: flex;
      padding: 0.5rem 2rem 0 1rem;
      justify-content: space-between;

      & > p {
        font-size: 1.5rem;
        color: #ffffff;
      }
    }
  }
}

.yellow-top {
  background-color: #ffe600;
}

.red-top {
  background-color: #ff607f;
}

.blue-top {
  background-color: #56c1e4;
}

.green-top {
  background-color: #4dce82;
}
