<mat-sidenav-container autosize>
  <mat-sidenav [opened]="true" mode="side">
    <div class="nav-bar">
      <app-logo></app-logo>
      <h1>{{StoreName}}</h1>
      <mat-nav-list class="links">
        <a mat-list-item routerLinkActive="active">
          <span class="link" [routerLink]="[{ outlets: { navBar: ['home'] } }]">
            <span>Dashboard</span>
          </span>
        </a>
        <a mat-list-item [routerLink]="[{ outlets: { navBar: ['goals'] } }]" routerLinkActive="active">
          <span class="link">
            <span>Goals</span>
          </span>
        </a>
        <a mat-list-item [routerLink]="[{ outlets: { navBar: ['cashflow'] } }]" routerLinkActive="active">
          <span class="link">
              <span>Cash Flows</span>
          </span>
        </a>
        <a mat-list-item [routerLink]="[{ outlets: { navBar: ['categories'] } }]" routerLinkActive="active">
          <span class="link">
              <span>Category Budgets</span>
          </span>
        </a>
      </mat-nav-list>
    </div>
    <button>Logout</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet name="navBar"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
