article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.close-button {
  background-color: var(--primary);
  color: black;
}

.delete-button {
  background-color: palevioletred;
}

.mat-mdc-header-row {
  background-color: rgba(30, 31, 31, 0.62);
  color: var(--tertiary );
}
.mat-mdc-row {
  background-color: var(--secondary);
  color: var(--tertiary );
}
