<div class="header-bar">
  <p>In Progress</p>
  <button
    (click)="addNewGoal()"
    mat-flat-button
    color="primary"
    aria-label="Add new goal"
  >
    <mat-icon fontIcon="add"></mat-icon>
    <!-- <mat-icon>
            +
        </mat-icon> -->
    <p>Add new goal</p>
  </button>
</div>
<div class="goals-container">
  <app-card *ngFor="let card of inProgressCards" [card]="card"> </app-card>
</div>
<div class="header-bar">
  <p>Completed</p>
</div>
<div class="goals-container">
  <app-card *ngFor="let card of completedCards" [card]="card"> </app-card>
</div>
