<article>
  <section class="header-bar">
    <h2>Your goals</h2>
    <button
      (click)="addNewGoal()"
      aria-label="Add new goal"
      mat-flat-button
      color="primary"
    >
      <mat-icon fontIcon="add"></mat-icon>
      Add
    </button>
  </section>

  <section class="goals-container" *ngIf="!(cards.length === 0); else noData">
    <app-card
      *ngFor="let card of inProgressCards"
      [card]="card"
      (cardClicked)="showGoalClicked(card)"
    >
    </app-card>
    <app-card
      *ngFor="let card of completedCards"
      [card]="card"
      (cardClicked)="showGoalClicked(card)"
    >
    </app-card>
    <app-card
      *ngFor="let card of expiredCards"
      [card]="card"
      (cardClicked)="showGoalClicked(card)"
    >
    </app-card>
  </section>

  <section class="pagination" *ngIf="cards?.length == 10">
    <button aria-label="Previous" mat-flat-button color="primary" appPreventDoubleClick (debounceClick)="previousPage()" >
      <mat-icon fontIcon="arrow_back_ios"></mat-icon>
      Previous Page
    </button>
    <span>Page {{page}}</span>
    <button aria-label="Next" mat-flat-button color="primary" appPreventDoubleClick (debounceClick)="nextPage()">
      Next Page
      <mat-icon fontIcon="arrow_forward_ios" iconPositionEnd></mat-icon>
    </button>
  </section>

  <ng-template #noData>
    <p *ngIf="error">
      Goal retrieval failed to load...
    </p>
    <p *ngIf="!error && loading">
      Loading...
    </p>
    <p *ngIf="!error && !loading">
      There are no goals with logged monetary flows, please add monetary flows for your goals.
    </p>
  </ng-template>

</article>
