article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-bar {
  margin-bottom: 1rem;
}

.header-bar  .goals-container {
  margin-block: 2rem;
}

.goals-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  @media only screen and (max-width: 800px){
    justify-content: center;
  }
}

.fullscreen-overlay-side-panel {
  background-color: #FFFFFF;
  height: 100%;
  top: 0;
  right: 0;

  @media only screen and (min-width: 915px){
      left: auto;
      width: 50%;
  }

  @media (max-width: 914px){
      width: 100%;
      left: auto;
  }
}

.pagination-style {
  justify-content: right;
}
