:root {
  --primary: #50D288;
  --secondary: #1E1F1F;
  --tertiary: #FFFFFF;
}

html {
  font-family: Roboto, sans-serif;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material Specific Edits */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0.1em;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
