<!-- carry on fixing -->

<h2 mat-dialog-title>Add goal</h2>
<mat-dialog-content>
  <form [formGroup]="newGoalForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Goal name</mat-label>
        <input matInput formControlName="goalName" placeholder="Enter goal name">
    </mat-form-field>

    <mat-form-field>
    <mat-label>Goal description</mat-label>
      <input matInput formControlName="goalDescription" placeholder="Enter goal description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Due Date of goal</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="number" placeholder="00.00" formControlName="amount">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="dialogRef.close(false)">Cancel</button>
  <button mat-flat-button color="primary" type="submit" [disabled]="!newGoalForm.valid">Add</button>
</mat-dialog-actions>
