<section *ngIf="!error; else noData">
  <section class="header-bar">
    <h2>Categories</h2>
    <button
      (click)="addCategoryBudget()"
      aria-label="Add new category budget"
      mat-flat-button
      color="primary"
    >
      <mat-icon fontIcon="add"></mat-icon>
      Add
    </button>
  </section>

  <section class="categories-container">
    <app-card
      *ngFor="let card of categoryCards"
      [card]="card"
      (cardClicked)="showCategoryClicked(card)"
    >
    </app-card>
  </section>
</section>
<ng-template #noData>
  <p *ngIf="error">Goal retrieval failed to load...</p>
  <p *ngIf="!error && loading">Loading...</p>
  <p *ngIf="!error && !loading">
    There are no goals with logged monetary flows, please add monetary flows for
    your goals.
  </p>
</ng-template>
