<section class="header-bar">
  <h2>Categories</h2>
  <button (click)="addCategoryBudget()" aria-label="Add new category budget" mat-flat-button color="primary">
    <mat-icon fontIcon="add"></mat-icon>
    Add
  </button>
</section>

<section class="categories-container">
  <app-card
    *ngFor="let card of categoryCards"
    [card]="card"
    (cardClicked)="showCategoryClicked(card)"
  >
  </app-card>
</section>
  <!-- <div class="header-bar">
    <p>Completed</p>
  </div>
  <div class="goals-container">

    <mat-paginator
      [pageSizeOptions]="[10]"
      (page)="onPageChange($event)"
      class="pagination-style"
    >
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div> -->
