.header-bar + .categories-container {
  margin-block: 2em;
}

.categories-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.fullscreen-overlay-side-panel {
    background-color: #FFFFFF;
    height: 100%;
    /* position: fixed !important; */
    top: 0;
    right: 0;

    @media only screen and (min-width: 915px){
        left: auto;
        width: 50%;
    }

    @media (max-width: 914px){
        width: 100%;
        left: auto;
    }
}

.pagination-style {
    justify-content: right;
}
